<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Upload and Visualization</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #bottomBranchesContainer, #topBranchesContainer {
    max-height: 600px; /* veya ihtiyacınıza göre bir değer */
    overflow-y: auto; /* Dikey kaydırma çubuğunu etkinleştir */
    overflow-x: hidden; /* Yatay kaydırma çubuğunu gizle */
}

        body {
            background-color: #f8f9fa; /* Soft arka plan rengi */
            font-size: 16px; /* Genel font büyüklüğü */
            font-family: 'Roboto', sans-serif;

        }
        .badge-high-capacity {
            background-color: #f67b60; /* Ateş kırmızısı */
        }
        .badge-low-capacity {
            background-color: #b3d4ff; /* Soğuk mavi */
        }
        .map-container {
            height: 600px;
        }
        .form-row {
            margin-bottom: 15px; /* Form girişleri arasındaki boşluk */
        }
        .form-group label {
            font-size: 18px; /* Başlık font büyüklüğü */
            font-weight: bold; /* Kalın başlık */
        }

        

#loadingOverlay .spinner-border {
    border-color: #ffa733 transparent transparent transparent; /* Üç tarafı transparan yaparak dönme efektini korur */
}


    .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.loading-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, 0.7);
            z-index: 1050;
            justify-content: center;
            align-items: center;
        }
        .visible {
            display: flex !important;
        }

    .btn-primary:hover, .btn-primary:focus {
        background-color: #0056b3;
        border-color: #0056b3;
        transform: scale(1.05);
    }

    .btn-primary:active {
        transform: scale(0.95);
}

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    /* Add more as needed */
}

    </style>


</head>

<script>

document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('dataVisualizationForm');
    const loadingOverlay = document.getElementById('loadingOverlay');

    function toggleLoadingIndicator(show) {
        if (show) {
            loadingOverlay.classList.add('visible');
        } else {
            loadingOverlay.classList.remove('visible');
        }
    }

    form.addEventListener('submit', function(e) {
        e.preventDefault(); // Form gönderimini engelle
        toggleLoadingIndicator(true);

        // Yapay gecikmeyi buraya ekleyin

            var formData = new FormData(form);
            fetch('/', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                updateStatistics(data); // Sayfadaki istatistikleri güncelle
                // Yanıttan alınan harita dosyası ile iframe src'yi güncelle
                var mapIframe = document.querySelector('#mapContainer iframe');
                if (mapIframe) {
                    mapIframe.src = data.mapFile;
                } else {
                    var newIframe = document.createElement('iframe');
                    newIframe.src = data.mapFile;
                    newIframe.width = '100%';
                    newIframe.height = '600px';
                    document.getElementById('mapContainer').appendChild(newIframe);
                }
                toggleLoadingIndicator(false); // İşlem tamamlandığında yükleme göstergesini gizle
            })
            .catch(error => {
                console.error('Error:', error);
                toggleLoadingIndicator(false); // Hata durumunda yükleme göstergesini gizle
            });
    });
});


document.addEventListener('DOMContentLoaded', function() {
    fetchDefaultDataAndUpdatePage();
});

function fetchDefaultDataAndUpdatePage() {
    fetch('/default-data')
    .then(response => response.json())
    .then(data => {
        updateStatistics(data);
        
    })
    .catch(error => console.error('Error:', error));
}


function getFormattedDate() {
    const date = new Date(); // Şu anki tarih ve zaman
    const day = date.getDate()-1; // Günü al
    const month = date.getMonth() + 1; // Ayı al (getMonth() 0'dan başlar)
    const year = date.getFullYear(); // Yılı al

    // Tarihi "GG/AA/YYYY" formatında döndür
    return `${day}/${month}/${year}`;
}



function updateStatistics(data) {
    console.log("Gelen veri:", data); // Güncellenen veriyi logla
    // En Yüksek İstatistikli Şubeleri Güncelleme
    const tarih = getFormattedDate(); // Dinamik tarih

    const mapTitle = document.getElementById('mapTitle');

    if (data.selectedColumn) {
        // Veri varsa ve seçilen sütun adı boş değilse
        mapTitle.innerText = `Garenta Şube ${data.selectedColumn} İstatistikleri - ${tarih}`;
    } else {
        // Genel başlık
        mapTitle.innerText = `Tüm Türkiye'deki Garenta Şubeleri`;
    }
    console.log("Selectd Column:", data.selectedColumn); // Güncellenen veriyi logla

    const topBranchesContainer = document.getElementById('topBranchesContainer');
    console.log("Güncellenen veri:", data.topBranches); // Güncellenen veriyi logla
    if (topBranchesContainer && data.topBranches && data.topBranches.length > 0) {
        let topBranchesHtml = '<h3 style="font-size: 24px; font-weight: bold;">En Yüksek ' + data.selectedColumn + ' Şubeler</h3><ul class="list-group">';
        data.topBranches.forEach(branch => {
            let value;
            if (data.typeFlag) {
                value = branch[data.selectedColumn] ? (branch[data.selectedColumn] * 1).toFixed(2) + '%' : '0%';
            } else {
                value = branch[data.selectedColumn] ? branch[data.selectedColumn].toFixed(0) : '0';
            }
            topBranchesHtml += '<li class="list-group-item d-flex justify-content-between align-items-center">' +
                branch.Label + '<span class="badge badge-high-capacity badge-pill">' + value + '</span></li>';
        });
        topBranchesHtml += '</ul>';
        topBranchesContainer.innerHTML = topBranchesHtml;
    }

    const bottomBranchesContainer = document.getElementById('bottomBranchesContainer');
    if (bottomBranchesContainer && data.bottomBranches && data.bottomBranches.length > 0) {
        let bottomBranchesHtml = '<h3 style="font-size: 24px; font-weight: bold;">En Düşük ' + data.selectedColumn + ' Şubeler</h3><ul class="list-group">';
        data.bottomBranches.forEach(branch => {
            let value;
            if (data.typeFlag) {
                value = branch[data.selectedColumn] ? (branch[data.selectedColumn] * 1).toFixed(2) + '%' : '0%';
            } else {
                value = branch[data.selectedColumn] ? branch[data.selectedColumn].toFixed(0) : '0';
            }
            bottomBranchesHtml += '<li class="list-group-item d-flex justify-content-between align-items-center">' +
                branch.Label + '<span class="badge badge-low-capacity badge-pill">' + value + '</span></li>';
        });
        bottomBranchesHtml += '</ul>';
        bottomBranchesContainer.innerHTML = bottomBranchesHtml;
    }
    // Benzer şekilde, "bottomBranches" ve diğer veriler için de güncelleme yapabilirsiniz...
}
</script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('dataVisualizationForm').addEventListener('submit', function(e) {
            // Gerekli alanların kontrolü
            var fileInput = document.getElementById('fileInput');
           // var garentaSubeInput = document.getElementById('GarentaŞubeInput').value.trim();
            var selectedColumn = document.getElementById('columnSelect').value.trim();
            var hasError = false;

            // Dosya yükleme kontrolü
            if (!fileInput.files.length) {
                alert('Lütfen bir dosya seçiniz.');
                fileInput.style.borderColor = 'red';
                hasError = true;
            } else {
                fileInput.style.borderColor = ''; // Hata yoksa çerçeveyi sıfırla
            }

            // GarentaŞubeInput kontrolü
            /*if (!garentaSubeInput) {
                document.getElementById('GarentaŞubeInput').style.borderColor = 'red';
                hasError = true;
            } else {
                document.getElementById('GarentaŞubeInput').style.borderColor = ''; // Hata yoksa çerçeveyi sıfırla
            }*/

            // selectedColumn kontrolü
            if (!selectedColumn) {
                document.getElementById('columnSelect').style.borderColor = 'red';
                hasError = true;
            } else {
                document.getElementById('columnSelect').style.borderColor = ''; // Hata yoksa çerçeveyi sıfırla
            }

            if (hasError) {
                e.preventDefault(); // Form gönderimini engelle
            }
        });
    });
</script>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var fileInput = document.getElementById('fileInput');
    var sheetSelect = document.getElementById('sheetSelect');
    var columnSelect = document.getElementById('columnSelect');

    function fetchColumnsForSheet(sheetName) {
        var formDataForColumns = new FormData();
        formDataForColumns.append('file', fileInput.files[0]);
        formDataForColumns.append('sheetName', sheetName);

        fetch('/get-columns', {
            method: 'POST',
            body: formDataForColumns,
        })
        .then(response => response.json())
        .then(columns => {
            columnSelect.innerHTML = ''; 
            columns.forEach(function(columnName) {
                var option = new Option(columnName, columnName);
                columnSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Error:', error));
    }

    fileInput.addEventListener('change', function() {
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('file', file);

        fetch('/get-sheets', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(sheets => {
            sheetSelect.innerHTML = ''; 
            sheets.forEach(function(sheetName, index) {
                var option = new Option(sheetName, sheetName);
                sheetSelect.appendChild(option);
                if(index === 0) { // Automatically fetch columns for the first sheet
                    fetchColumnsForSheet(sheetName);
                }
            });
        })
        .catch(error => console.error('Error:', error));
    });

    sheetSelect.addEventListener('change', function() {
        var selectedSheet = sheetSelect.value;
        fetchColumnsForSheet(selectedSheet);
    });
});



    </script>


    
    <div class="container-fluid mt-5">
        <div class="row">
            <!-- En Düşük İstatistikli Şubelerin Gösterileceği Bölüm -->
            <div id="bottomBranchesContainer" class="col-md-2">
                <!-- Dinamik içerik JavaScript ile buraya eklenecek -->
            </div>

            <!-- Haritanın Gösterileceği Bölüm -->
            <div class="col-md-8">
                <div id="mapContainer" class="map-container">
                    <!-- Dinamik başlık için h2 elemanı -->
                    <h2 id="mapTitle" style="text-align: center; margin-bottom: 20px;"></h2>
                    <iframe id="mapIframe" src="{{ url_for('static', filename=map_file) }}" width="100%" height="95%"></iframe>

                </div>
            </div>

            <!-- En Yüksek İstatistikli Şubelerin Gösterileceği Bölüm -->
            <div id="topBranchesContainer" class="col-md-2">
                <!-- Dinamik içerik JavaScript ile buraya eklenecek -->
            </div>
        </div>
    </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div id="loadingOverlay" class="loading-overlay">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Lütfen Bekleyiniz...</span>
                        </div>
                    </div>
                    <form action="/" method="post" enctype="multipart/form-data" class="mb-3" id="dataVisualizationForm">
                        <div class="form-group">
                            <label for="fileInput">Dosya Seç</label>
                            <input type="file" class="form-control-file" id="fileInput" name="file">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="sheetSelect">Sheet Seç</label>
                                <select class="form-control" id="sheetSelect" name="selected_sheet"></select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="columnSelect">Veri Sütunu</label>
                                <select class="form-control" id="columnSelect" name="selected_column"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="mapOption">Görselleştirme Yapılacak Harita</label>
                                <select class="form-control" id="mapOption" name="map_option">
                                    <option value="0">Garenta Şubeleri Haritası</option>
                                    <option value="1">Türkiye Haritası</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="colorPalette">Renk Paleti</label>
                                <select class="form-control" id="colorPalette" name="color_palette">
                                    <option value="YlOrRd">YellowOrangeRed</option>
                                    <option value="YlGnBu">YellowGreenBlue</option>
                                    <option value="YlGn">YellowGreen</option>
                                    <option value="Oranges">Oranges</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="thresholdScaleInput">Manuel Aralık</label>
                                <input type="text" class="form-control" id="thresholdScaleInput" name="threshold_scale" placeholder="Örnek:0,25,50,75,100">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-chart-pie"></i> Görselleştir
                        </button>
                    </form>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
